Code/.vscode/settings.json
*.pyc
Code/Python-Current/LiveTests/.DS_Store
Code/Python-Current/LiveTests/Alerts/.DS_Store
Code/Python-Current/.DS_Store
Code/Python-Current/LiveTests
Code/Python-Current/mydata
Code/Python-Current/LiveTests/Alerts/